$dark-surface-1-stroke: hsla(0,0%,21.2%,0.925);
$dark-surface-1-default: hsla(225,7.1%,11%,1);
$dark-surface-1-hover: hsla(225,5.1%,15.3%,1);
$dark-surface-0-hover: hsla(0,0%,100%,0.040);
$dark-surface-2-default: hsla(230,7.5%,15.7%,1);
$dark-surface-2-hover: hsla(230,5.9%,20%,1);
$dark-surface-2-stroke: hsla(0,0%,39.2%,1);
$dark-surface-primary-default: hsla(208,79.7%,51.8%,1);
$dark-surface-primary-hover: hsla(208,79.3%,56.5%,1);
$dark-surface-3-default: hsla(220,2%,28.8%,1);
$dark-surface-3-hover: hsla(220,1.6%,35.9%,1);
$dark-functional-overlay: hsla(0,0%,0%,0.400);
$dark-functional-success-default: hsla(141,35%,38.6%,1);
$dark-functional-success-hover: hsla(141,22.4%,57.1%,1);
$dark-functional-warning-default: hsla(43,78.6%,43.9%,1);
$dark-functional-warning-hover: hsla(43,62%,60.8%,1);
$dark-functional-error-default: hsla(357,56.5%,53.1%,1);
$dark-functional-error-hover: hsla(357,56.9%,67.3%,1);
$dark-item-accent: hsla(0,0%,100%,1);
$dark-item-muted: hsla(200,2.8%,78.6%,1);
$dark-item-tertiary: hsla(240,1.5%,59.8%,1);
$dark-item-primary: hsla(208,79.7%,51.8%,1);
$dark-item-on-primary: hsla(0,0%,100%,1);
