:root {
  /* Surfaces */
	--color-light-surface-0-default: hsla(0,0%,100%,0.000);
	--color-light-surface-0-hover: hsla(0,0%,0%,0.030);
	--color-light-surface-1-stroke: hsla(0,0%,92.5%,0.925);
	--color-light-surface-1-default: hsla(0,0%,100%,1);
	--color-light-surface-1-hover: hsla(210,16.7%,97.6%,1);
	--color-light-surface-2-stroke: hsla(214,8.4%,83.7%,1);
	--color-light-surface-2-default: hsla(210,16.7%,97.6%,1);
	--color-light-surface-2-hover: hsla(210,16.7%,95.3%,1);
	--color-light-surface-3-default: hsla(210,7.7%,94.9%,1);
	--color-light-surface-3-hover: hsla(0,0%,91.8%,1);
	--color-light-surface-primary-default: hsla(208,79.7%,51.8%,1);
	--color-light-surface-primary-hover: hsla(208,79.7%,51.8%,1);
	--color-light-surface-primary-alt-default: hsla(205,100%,95.3%,1);

  /* Functional */
	--color-light-functional-overlay: hsla(0,0%,0%,0.400);
	--color-light-functional-success-default: hsla(141,35%,38.6%,1);
	--color-light-functional-success-hover: hsla(140,34.8%,34.9%,1);
	--color-light-functional-warning-default: hsla(43,78.6%,43.9%,1);
	--color-light-functional-warning-hover: hsla(43,78.2%,39.6%,1);
	--color-light-functional-error-default: hsla(357,56.5%,53.1%,1);
	--color-light-functional-error-hover: hsla(355,25.8%,81%,1);

  /* Items */
	--color-light-item-accent: hsla(210,10.5%,7.5%,1);
	--color-light-item-muted: hsla(210,7.1%,55.7%,1);
	--color-light-item-tertiary: hsla(210,13.8%,88.6%,1);
	--color-light-item-on-primary: hsla(0,0%,100%,1);
	--color-light-item-primary: hsla(208,79.7%,51.8%,1);
}
